.dado {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 150px;
    max-width: 300px;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    background-color: white;
}
.dado.player{
    grid-row: 3;
}
.dado.bot{
    grid-row: 1;
}

.pontos{
    grid-row: 2;
    border-radius: 15px;

    background-color: white;

     display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 150px;
    max-width: 300px;

    text-align: center;
    border: 2px solid black;
}
