@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.dado {
    display: flex;
    align-items: center;
    justify-content: center;
    
    text-align: center;
    border: 0px solid black;
    background-color: black;
    color: rgba(0, 0, 0, 0);
    width: 20%;
    padding: 5px;
    aspect-ratio: 1/1;
    background:url('../assets/dados.avif');
    background-size:100% 100%;
    max-width: 300px;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;

}
@media screen and (max-width: 600px){
    .pontos{
        height: 90%;
    }
}   
.dado.player{
    grid-row: 3;
}
.dado.bot{
    grid-row: 1;
}
.dado[dado-value='1']{
    background:url('../assets/dados/dado1.png');
    background-size: cover;
}
.dado[dado-value='2']{
    background:url('../assets/dados/dado2.png');
    background-size: cover;
}
.dado[dado-value='3']{
    background:url('../assets/dados/dado3.png');
    background-size: cover;
}
.dado[dado-value='4']{
    background:url('../assets/dados/dado4.png');
    background-size: cover;
}
.dado[dado-value='5']{
    background:url('../assets/dados/dado5.png');
    background-size: cover;
}
.dado[dado-value='6']{
    background:url('../assets/dados/dado6.png');
    background-size: cover;
}
.pontos{
    grid-row: 2;
    border-radius: 10px;

    margin: 0%;
    padding: 0%;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    text-align: center;
    border: 5px solid black;
    background-color: white;
    color: black;

    gap:  1rem;
    font-weight: 400;
    font-style: normal;
    font-size: 80%;
    

 

    width: 50%;
    aspect-ratio: 2/1;
}
.pontos h3{
    margin: 0;
    padding: 0%;
}