.dado_player{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 150px;
    margin-bottom: 50px;
    text-align: center;
    border: 2px solid black;
}
.dado_bot{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 150px;
    margin-top: 50px;
    text-align: center;
    border: 2px solid black;
}