.igorVoador{
    position: absolute;
    width: 350px;
    height: 300px;
    transform: translate(-50%,-50%);
    -webkit-animation: spin-and-move 3s alternate infinite;
}
@keyframes spin-and-move {
    0% {
      transform:  translate(-50%,-50%) translateX(0) translatey(0) rotate(0deg);
    }
    25% {
      transform:  translate(-50%,-50%) translateX(50vw)  translatey(50vh) rotate(360deg);
    }
    50% {
      transform:  translate(-50%,-50%) translateX(100vw)  translatey(0) rotate(720deg);
    }
    100% {
        transform:  translate(-50%,-50%) translateX(0)  translatey(100vh) rotate(-720deg);
      }
  }
  
  img {
    animation: spin-and-move 5s linear infinite;
  }