@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=VT323&display=swap');

@media screen and (min-width: 1000px){
    .jogo {
        display: flex;
        
        width: 80%;
        aspect-ratio: 16/9;
        
    
        border: 5px solid black;
        font-family: "Pixelify Sans";
        font-weight: 400;

    }
    .aside {
        display: grid;
        flex-direction: end;
        flex-direction: column-reverse;
    
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        align-content: center;
        align-items: center;
        justify-content: center;
    
        justify-items: center;
        width: 100%;
        height: 100%;
        gap: 50px;
       
        font-weight: 800;
    }
    
    main {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .resultados {
        visibility: hidden  ;
        background-color: white;
        width: 95%;
        word-wrap: normal;
        color: white;
        height: 15%;
    
        border: 3px solid black;
        border-radius: 5px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family:'Alegreya Sans SC';
        font-size: 100%;
    }
    .tabuleiro td:hover{
        background-color: gray !important;
    
    } 
    
}
@media screen and (max-width: 500px){
    .jogo{
        border: 0px solid black !important;
        margin: 0 !important;
        padding: 0  !important;
        padding-bottom: 1rem !important;
    }

}
@media screen and (max-width: 1000px){
    .tabuleiro td:active{
        background-color: gray !important;
    
    } 
    
   
    .jogo {
        display: flex;
        aspect-ratio: auto;
        max-width: 500px;
        width: 100%;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 1rem;
        overflow-y: scroll;
        
        flex-direction: column-reverse;

        padding-top: 1rem;
        padding-bottom: 1rem;
        margin: 1rem    ;
        margin-bottom: 1rem ;
        border: 5px solid black;
        border-radius: 5px;
        font-family: "Pixelify Sans";
        font-weight: 400;
        border-radius: 10px;

        gap: 0px;
    }
   .aside{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;

            height: auto;
   }
   .aside.player{
    border-top: 5px solid black;
    padding-top: 1rem;
    flex-direction: row-reverse;

   }
   .aside.bot{
    border-bottom: 5px solid black;
    padding-bottom: 1rem;
   }
    main {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        gap: 5px;
    }
    .resultados {
        visibility: hidden  ;
        background-color: white;
        width: 80%;
        word-wrap: normal;
        color: white;
        height: 15%;
    
        border: 3px solid black;
        border-radius: 5px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 100%;
    }
}

header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid black;
    margin-bottom: 2rem;
    box-shadow: 5px 5px 5px gainsboro;
}
header button{
    margin-left: 10px;
    width: 100px;
    height: 80%;
    border: 0px;
    font-size: 20px;
    font-weight: 800;

    border: 5px solid #ADD8E6;
    background-color: #ADD8E6;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
}
body{
    gap: 0px !important;
    width: 100vw;
    height: 100vh !important;
    margin: 0%;
    padding: 0%;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


.derrota {
    position: fixed;
    visibility: hidden;
    -webkit-animation: none;
    width: 100%;
    opacity: 60%;
}

.vitoria {
    position: fixed;
    visibility: hidden;
    -webkit-animation: none;
    width: 100%;
    opacity: 50%;
}





.resultados .resultado {
    margin: 0%;
    padding: 0%;
    
}