@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
  
.tabuleiro{
    height: auto;
    max-height: 100%;
    height: 20%;
    width:60%;
    border: 0px solid black;
    padding: 0px;  
        padding: 10px;

    border-radius: 15px;
    font-family: 'Vt323', monospace;
    border: 10px solid black;


}
tr{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: calc(100% / 9) ;
}
td{
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}
.tabuleiro td{
    margin-top: 5%;
    position: relative;
    width:20%;
    aspect-ratio: 1/1;
    text-align: center;
    border: 0px solid black;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0);
    font-weight: 800;
    padding: 0px;

    border-collapse:collapse;
    border-spacing:0;
    box-sizing: content-box;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}
.tabuleiro td[dado-value='1']{
    background-image    :url('../assets/dados/dado1.png');
}
.tabuleiro td[dado-value='2']{
    background-image    :url('../assets/dados/dado2.png');
}
.tabuleiro td[dado-value='3']{
    background-image    :url('../assets/dados/dado3.png');
}
.tabuleiro td[dado-value='4']{
    background-image    :url('../assets/dados/dado4.png');
}
.tabuleiro td[dado-value='5']{
    background-image    :url('../assets/dados/dado5.png');
}
.tabuleiro td[dado-value='6']{
    background-image:url('../assets/dados/dado6.png');
}
.tabuleiro th{
    width: 20%;
    text-align: center;

    font-weight: 400;
    font-style: normal;
    height: 40px;
    font-size: 100%;
}
